<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect to https
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Handle Angular routing, return all requests to Angular index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/index\.html$
  RewriteRule . index.html [L]
</IfModule>

# Fallback for servers without mod_rewrite
<IfModule !mod_rewrite.c>
  ErrorDocument 404 /index.html
</IfModule>